link(rel='stylesheet', href='/stylesheets/player-list.css')
h1="Hockey Data Visualizations"
div#player-list.row
  div.row
    table.table
      tr
        th
          input(ng-model="name", placeholder="Player Name")#playerName
        th
          a(href="", ng-click="changeSorting('gamesPlayed')" ng-class="selectedCls('gamesPlayed')").
            GP
        th
          a(href="", ng-click="changeSorting('goals')" ng-class="selectedCls('goals')").
            G
        th
          a(href="", ng-click="changeSorting('assists')" ng-class="selectedCls('assists')").
            A
        th
          a(href="", ng-click="changeSorting('points')" ng-class="selectedCls('points')").
            P
        th
          a(href="", ng-click="changeSorting('primaryAssists')" ng-class="selectedCls('primaryAssists')").
            A1
        th
          a(href="", ng-click="changeSorting('secondaryAssists')" ng-class="selectedCls('secondaryAssists')").
            A2
        th
          a(href="", ng-click="changeSorting('primaryPoints')" ng-class="selectedCls('primaryPoints')").
            P1
        th
          a(href="", ng-click="changeSorting('atoiPer60')" ng-class="selectedCls('atoiPer60')").
            TOI/60
        th
          a(href="", ng-click="changeSorting('shots')" ng-class="selectedCls('shots')").
            S
        th
          a(href="", ng-click="changeSorting('missedShots')" ng-class="selectedCls('missedShots')").
            MS
        th
          a(href="", ng-click="changeSorting('blockedShotsFor')" ng-class="selectedCls('blockedShotsFor')").
            BS
        th
          a(href="", ng-click="changeSorting('corsiFor')" ng-class="selectedCls('corsiFor')").
            CF
        th
          a(href="", ng-click="changeSorting('fenwickFor')" ng-class="selectedCls('fenwickFor')").
            FF
        th
          a(href="", ng-click="changeSorting('faceoffsWon')" ng-class="selectedCls('faceoffsWon')").
            FOW
        th
          a(href="", ng-click="changeSorting('faceoffsLost')" ng-class="selectedCls('faceoffsLost')").
            FOL
        th
          a(href="", ng-click="changeSorting('faceoffPercentage')" ng-class="selectedCls('faceoffPercentage')").
            FO %
        th
          a(href="", ng-click="changeSorting('penaltiesTaken')" ng-class="selectedCls('penaltiesTaken')").
            Pen
        th
          a(href="", ng-click="changeSorting('penaltiesDrawn')" ng-class="selectedCls('penaltiesDrawn')").
            PenD
        th
          a(href="", ng-click="changeSorting('penaltyPlusMinus')" ng-class="selectedCls('penaltyPlusMinus')").
            Pen +/-
        th
          a(href="", ng-click="changeSorting('shotsAgainstBlocked')" ng-class="selectedCls('shotsAgainstBlocked')").
            ShB
        th
          a(href="", ng-click="changeSorting('hitsFor')" ng-class="selectedCls('hitsFor')").
            HitF
        th
          a(href="", ng-click="changeSorting('hitsAgainst')" ng-class="selectedCls('hitsAgainst')").
            HitA
        th
          a(href="", ng-click="changeSorting('hitsPlusMinus')" ng-class="selectedCls('hitsPlusMinus')").
            Hit +/-
      tr(ng-repeat="player in players | filter: {name: name, team: team} | orderBy:sort.column:sort.descending")
        td
          a(href="#/players/{{player._id}}")
            {{player.name}}
        td.
          {{player.gamesPlayed}}
        td.
          {{player.goals}}
        td.
          {{player.assists}}
        td.
          {{player.points}}
        td.
          {{player.primaryAssists}}
        td.
          {{player.secondaryAssists}}
        td.
          {{player.primaryPoints}}
        td.
          {{player.atoiPer60}}
        td.
          {{player.shots}}
        td.
          {{player.missedShots}}
        td.
          {{player.blockedShotsFor}}
        td.
          {{player.corsiFor}}
        td.
          {{player.fenwickFor}}
        td.
          {{player.faceoffsWon}}
        td.
          {{player.faceoffsLost}}
        td.
          {{player.faceoffPercentage}}
        td.
          {{player.penaltiesTaken}}
        td.
          {{player.penaltiesDrawn}}
        td.
          {{player.penaltyPlusMinus}}
        td.
          {{player.shotsAgainstBlocked}}
        td.
          {{player.hitsFor}}
        td.
          {{player.hitsAgainst}}
        td.
          {{player.hitsPlusMinus}}
