h1="Hockey Data Visualizations"
div#player-list.row
  div.row
    table.table
      tr
        th
          input(ng-model="name", placeholder="Player Name")
        th
          a(href="", ng-click="reverse = predicate == 'gamesPlayed' && !reverse; predicate='gamesPlayed'").
            GP
        th
          a(href="", ng-click="reverse = predicate == 'goals' && !reverse; predicate='goals'").
            G
        th
          a(href="", ng-click="reverse = predicate == 'assists' && !reverse; predicate='assists'").
            A
        th
          a(href="", ng-click="reverse = predicate == 'points' && !reverse; predicate='points'").
            P
        th
          a(href="", ng-click="reverse = predicate == 'primaryAssists' && !reverse; predicate='primaryAssists'").
            A1
        th
          a(href="", ng-click="reverse = predicate == 'secondaryAssists' && !reverse; predicate='secondaryAssists'").
            A2
        th
          a(href="", ng-click="reverse = predicate == 'primaryPoints' && !reverse; predicate='primaryPoints'").
            P1
        th
          a(href="", ng-click="reverse = predicate == 'atoiPer60' && !reverse; predicate='atoiPer60'").
            TOI/60
        th
          a(href="", ng-click="reverse = predicate == 'shots' && !reverse; predicate='shots'").
            S
        th
          a(href="", ng-click="reverse = predicate == 'missedShots' && !reverse; predicate='missedShots'").
            MS
        th
          a(href="", ng-click="reverse = predicate == 'blockedShotsFor' && !reverse; predicate='blockedShotsFor'").
            BS
        th
          a(href="", ng-click="reverse = predicate == 'corsiFor' && !reverse; predicate='corsiFor'").
            CF
        th
          a(href="", ng-click="reverse = predicate == 'fenwickFor' && !reverse; predicate='fenwickFor'").
            FF
        th
          a(href="", ng-click="reverse = predicate == 'faceoffsWon' && !reverse; predicate='faceoffsWon'").
            FOW
        th
          a(href="", ng-click="reverse = predicate == 'faceoffsLost' && !reverse; predicate='faceoffsLost'").
            FOL
        th
          a(href="", ng-click="reverse = predicate == 'faceoffPercentage' && !reverse; predicate='faceoffPercentage'").
            FO %
        th
          a(href="", ng-click="reverse = predicate == 'penaltiesTaken' && !reverse; predicate='penaltiesTaken'").
            Pen
        th
          a(href="", ng-click="reverse = predicate == 'penaltiesDrawn' && !reverse; predicate='penaltiesDrawn'").
            PenD
        th
          a(href="", ng-click="reverse = predicate == 'penaltyPlusMinus' && !reverse; predicate='penaltyPlusMinus'").
            Pen +/-
        th
          a(href="", ng-click="reverse = predicate == 'shotsAgainstBlocked' && !reverse; predicate='shotsAgainstBlocked'").
            ShB
        th
          a(href="", ng-click="reverse = predicate == 'hitsFor' && !reverse; predicate='hitsFor'").
            HitF
        th
          a(href="", ng-click="reverse = predicate == 'hitsAgainst' && !reverse; predicate='hitsAgainst'").
            HitA
        th
          a(href="", ng-click="reverse = predicate == 'hitsPlusMinus' && !reverse; predicate='hitsPlusMinus'").
            Hit +/-

      tr(ng-repeat="player in players | filter: {name: name, team: team} | orderBy:predicate:!reverse")
        td
          a(href="#/players/{{player._id}}")
            {{player.name}}
        td.
          {{player.gamesPlayed}}
        td.
          {{player.goals}}
        td.
          {{player.assists}}
        td.
          {{player.points}}
        td.
          {{player.primaryAssists}}
        td.
          {{player.secondaryAssists}}
        td.
          {{player.primaryPoints}}
        td.
          {{player.atoiPer60}}
        td.
          {{player.shots}}
        td.
          {{player.missedShots}}
        td.
          {{player.blockedShotsFor}}
        td.
          {{player.corsiFor}}
        td.
          {{player.fenwickFor}}
        td.
          {{player.faceoffsWon}}
        td.
          {{player.faceoffsLost}}
        td.
          {{player.faceoffPercentage}}
        td.
          {{player.penaltiesTaken}}
        td.
          {{player.penaltiesDrawn}}
        td.
          {{player.penaltyPlusMinus}}
        td.
          {{player.shotsAgainstBlocked}}
        td.
          {{player.hitsFor}}
        td.
          {{player.hitsAgainst}}
        td.
          {{player.hitsPlusMinus}}
