h1="Hockey Data Visualizations"
div#player-list.row
  div.row
    table.table
      tr
        th=Player
          input(ng-model="name", placeholder="Filter Players")
        th
          a(href="", ng-click="predicate='gamesPlayed'; reverse=!reverse").
            GP
        th
          a(href="", ng-click="predicate='goals'; reverse=!reverse").
            G
        th
          a(href="", ng-click="predicate='assists'; reverse=!reverse").
            A
        th
          a(href="", ng-click="predicate='points'; reverse=!reverse").
            P
        th
          a(href="", ng-click="predicate='primaryAssists'; reverse=!reverse").
            A1
        th
          a(href="", ng-click="predicate='secondaryAssists'; reverse=!reverse").
            A2
        th
          a(href="", ng-click="predicate='primaryPoints'; reverse=!reverse").
            P1
        th
          a(href="", ng-click="predicate='atoiPer60'; reverse=!reverse").
            TOI/60
        th
          a(href="", ng-click="predicate='shots'; reverse=!reverse").
            S
        th
          a(href="", ng-click="predicate='missedShots'; reverse=!reverse").
            MS
        th
          a(href="", ng-click="predicate='blockedShotsFor'; reverse=!reverse").
            BS
        th
          a(href="", ng-click="predicate='corsiFor'; reverse=!reverse").
            CF
        th
          a(href="", ng-click="predicate='fenwickFor'; reverse=!reverse").
            FF
        th
          a(href="", ng-click="predicate='faceoffsWon'; reverse=!reverse").
            FOW
        th
          a(href="", ng-click="predicate='faceoffsLost'; reverse=!reverse").
            FOL
        th
          a(href="", ng-click="predicate='faceoffPercentage'; reverse=!reverse").
            FO %
        th
          a(href="", ng-click="predicate='penaltiesTaken'; reverse=!reverse").
            Pen
        th
          a(href="", ng-click="predicate='penaltiesDrawn'; reverse=!reverse").
            PenD
        th
          a(href="", ng-click="predicate='penaltyPlusMinus'; reverse=!reverse").
            Pen +/-
        th
          a(href="", ng-click="predicate='shotsAgainstBlocked'; reverse=!reverse").
            ShB
        th
          a(href="", ng-click="predicate='hitsFor'; reverse=!reverse").
            HitF
        th
          a(href="", ng-click="predicate='hitsAgainst'; reverse=!reverse").
            HitA
        th
          a(href="", ng-click="predicate='hitsPlusMinus'; reverse=!reverse").
            Hit +/-

      tr(ng-repeat="player in players | filter: name | orderBy:predicate:reverse")
        td
          a(href="#/players/{{player._id}}")
            {{player.name}}
        td.
          {{player.gamesPlayed}}
        td.
          {{player.goals}}
        td.
          {{player.assists}}
        td.
          {{player.points}}
        td.
          {{player.primaryAssists}}
        td.
          {{player.secondaryAssists}}
        td.
          {{player.primaryPoints}}
        td.
          {{player.atoiPer60}}
        td.
          {{player.shots}}
        td.
          {{player.missedShots}}
        td.
          {{player.blockedShotsFor}}
        td.
          {{player.corsiFor}}
        td.
          {{player.fenwickFor}}
        td.
          {{player.faceoffsWon}}
        td.
          {{player.faceoffsLost}}
        td.
          {{player.faceoffPercentage}}
        td.
          {{player.penaltiesTaken}}
        td.
          {{player.penaltiesDrawn}}
        td.
          {{player.penaltyPlusMinus}}
        td.
          {{player.shotsAgainstBlocked}}
        td.
          {{player.hitsFor}}
        td.
          {{player.hitsAgainst}}
        td.
          {{player.hitsPlusMinus}}
