doctype html
html(lang='en', ng-app='hockeyvizApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
    script(src='/libs/angular/angular.min.js')
    script(src='/js/controllers.js')
  body
    div.container
      block content
